:root {
    --red-color: #701616;
}

.header {
    height: rem(60px);
    padding: 5px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    z-index: 1000;
}

.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    z-index: 1000;

    @media (max-width: mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
    }

    mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.link:hover {
    border-bottom: 2px solid var(--red-color);
    z-index: 1000;
}

.span {
    color: var(--red-color);
    font-weight: 900;
    font-size: x-large;
    z-index: 1000;
}

.logo_container {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    z-index: 1000;
}

.logo_link {
    text-decoration: none;
    color: white;
    z-index: 1000;
}